
dist/Analise_manual_V_3.1.6.exe
vector_storage_house_faiss/boleto__29-01-2024/index.pkl
vector_storage_house_faiss/boleto__29-01-2024/index.faiss
build/Analise_manual_V_3.1.6/localpycs/struct.pyc
build/Analise_manual_V_3.1.6/localpycs/pyimod04_pywin32.pyc
build/Analise_manual_V_3.1.6/localpycs/pyimod03_ctypes.pyc
build/Analise_manual_V_3.1.6/localpycs/pyimod02_importers.pyc
build/Analise_manual_V_3.1.6/localpycs/pyimod01_archive.pyc
build/Analise_manual_V_3.1.6/xref-Analise_manual_V_3.1.6.html
build/Analise_manual_V_3.1.6/warn-Analise_manual_V_3.1.6.txt
build/Analise_manual_V_3.1.6/Tree-02.toc
build/Analise_manual_V_3.1.6/Tree-01.toc
build/Analise_manual_V_3.1.6/Tree-00.toc
build/Analise_manual_V_3.1.6/PYZ-00.toc
build/Analise_manual_V_3.1.6/PYZ-00.pyz
build/Analise_manual_V_3.1.6/PKG-00.toc
build/Analise_manual_V_3.1.6/EXE-00.toc
build/Analise_manual_V_3.1.6/base_library.zip
build/Analise_manual_V_3.1.6/Analysis-00.toc
build/Analise_manual_V_3.1.6/Analise_manual_V_3.1.6.pkg
__pycache__/vector_store.cpython-311.pyc
__pycache__/tik_token.cpython-311.pyc
__pycache__/ia_retriever.cpython-311.pyc
__pycache__/document_spliter.cpython-311.pyc
__pycache__/document_loader.cpython-311.pyc
__pycache__/agi_connect.cpython-311.pyc
Analise_manual_V_3.1.6.spec
